.cards {
    display: grid;
    column-gap: 18px;
    row-gap: 21px;
    grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
    grid-template-rows: auto;
    margin: 46px 0 66px;
    width: 100%;
}

@media screen and (max-width: 320px){
    .cards {
        width: 87%;
        row-gap: 20px;
        column-gap: 0;
        margin: 0 auto;
    }
}