.popap__secondname{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 13.34px;
    margin-top: 29.74px;
    width: 80%;
    border: none;
    padding: 0;
    margin-left: 35px;
}

@media screen and (max-width: 320px) {
    .popap__secondname{
        width: 80%;
        margin: 0 22px 13px;
    }
}