.button_type_like{
    width: 20.76px;
    min-height: 18.13px;
    /*box-sizing: border-box;*/
    padding: 0;
    border: none;
}

.button_type_like:hover{
    opacity: .8;
    cursor: pointer;
    
}