.button_type_close{
    width: 40.7px;
    height: 40.7px;
    border: none;
    margin-left: 100%;
    padding: 0;
    background-color: transparent;
}

.button_type_close:hover{
    cursor: pointer;
    transform: rotate(45deg);
    opacity: .6;

}

@media screen and (max-width: 320px){
    .button_type_close{
        margin-left: 85%;
    }
}