
.button_type_add-button{
    /*background-image: url('./images/плюсик.svg');*/
    width: 150px;
    height: 50px;
    border: 2px solid #ffffff;
    padding: 14px 64px;
    background-color: #000000;
    margin-left: auto;
    margin-top: 35px;
    border-radius: 2px;
}

.button_type_add-button:hover{
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .button_type_add-button{
        width: 70%;
        margin: 36px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .button_type_add-button{
        width: 100%;
        margin: 36px auto 0;
    }
}