.popup__item_type_name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 29.74px;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 13.26px;
    margin-left: 35px;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    
}

.popup__item_type_name:active {
    border: none;
}

@media screen and (max-width: 320px){
    .popup__item_type_name{
        margin: 0 22px 13px;
    }
}