.popup_type_name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 13.26px;
    width: 80%;
    border: none;
    padding: 0;
    margin-left: 35px;
    border-right: 1px solid #ffffff;
}

.popup_type_name:active {
    border: none;
}

@media screen and (max-width: 320px){
    .popup_type_name{
        margin: 0 22px 13px;
        width: 80%;
    }
}