.popap__close-icon{
    width: 40.7px;
    height: 40.7px;
    position: absolute;
    top: 163px;
    left: 855px;
}

.popap__close-icon:hover{
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

@media screen and (max-width: 320px){
    .popap__close-icon{
        right: 9.18%;
        left: 84%;
        top: 7%;
    }
}